Eticaret.Konsol/Service References/ESN/error6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mehmetaliarican.site/error.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.POCO" />
  <xs:import schemaLocation="http://mehmetaliarican.site/error.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Basecore.Model.ResultTypes" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.POCO" minOccurs="0" name="entity" nillable="true" type="q1:Error" />
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Basecore.Model.ResultTypes" minOccurs="0" name="InsertResult" nillable="true" type="q2:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain.POCO" minOccurs="0" name="entity" nillable="true" type="q3:Error" />
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Basecore.Model.ResultTypes" minOccurs="0" name="UpdateResult" nillable="true" type="q4:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Basecore.Model.ResultTypes" minOccurs="0" name="DeleteResult" nillable="true" type="q5:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarkedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Basecore.Model.ResultTypes" minOccurs="0" name="DeleteMarkedResult" nillable="true" type="q6:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Basecore.Model.ResultTypes" minOccurs="0" name="GetListResult" nillable="true" type="q7:ServiceResultOfArrayOfErrorDBqOh3ZZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Basecore.Model.ResultTypes" minOccurs="0" name="GetResult" nillable="true" type="q8:ServiceResultOfErrorDBqOh3ZZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Basecore.Model.ResultTypes" minOccurs="0" name="SelectByQueryResult" nillable="true" type="q9:ServiceResultOfArrayOfErrorDBqOh3ZZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Basecore.Model.ResultTypes" minOccurs="0" name="SelectByQuantityResult" nillable="true" type="q10:ServiceResultOfArrayOfErrorDBqOh3ZZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastThreeDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastThreeDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Basecore.Model.ResultTypes" minOccurs="0" name="GetLastThreeDaysResult" nillable="true" type="q11:ServiceResultOfArrayOfErrorDBqOh3ZZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>